html {
    margin-top: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 76%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-right: 200px;
}

.nav-link {
    width: 43px;
    height: 14px;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #33323D;
    transition: all 0.4s ease-in-out;
}

.nav-link:hover {
    color: #5FB4A2;
}

.nav-link-kok {
    width: 43px;
    height: 14px;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #5FB4A2;
    transition: all 0.4s ease-in-out;
}

.nav-link-kok:hover {
    color: #33323D;
}

.logo {
    width: 60.081634521484375px;
    height: 32px;
}

main {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.about-me {
    display: flex;
}

.odam-img {
    width: 540px;
    height: 500px;

}

.about-title {
    width: 350px;
    height: 42px;
    font-family: "Ibarra Real Nova", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #33323D;
    /* margin-top: 50px; */
}

.about-text {
    width: 350px;
    /* height: 360px; */
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    margin-top: 40px;
}

.about-yozuvlar {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
}

.about-btn {
    width: 202px;
    height: 48px;
    /* margin-left: 850px; */
}

.btn-title2 {
    width: 134px;
    height: 14px;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #33323D;
    margin-left: 30px;
}

section {
    margin-top: 150px;
}

.contact-title {
    width: 350px;
    height: 84px;
    font-family: "Ibarra Real Nova", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #33323D;
    margin-left: 210px;
}

.contact-btn {
    width: 162px;
    height: 48px;
    border: 2px solid gray;
    margin-left: 1000px;
}


footer {
    display: flex;
    gap: 200px;
    width: 1440px;
    height: 80px;
    background: #33323D;
    margin-left: 40px;
    align-items: center;
}


.logo-oq {
    width: 61px;
    height: 32px;
    margin-top: 20px;
    margin-left: 50px;
}


.footer-list {
    display: flex;
    gap: 30px;
}


.fa-brands {
    color: white;
}


.footer-link {
    color: #FFFFFF;
    transition: all 0.4s ease-in-out;
}


.footer-link:hover {
    color: black;
    margin-top: -10px;
}


@media only screen and (max-width: 430px) {

    .logo {
        margin-left: -200px;
    }

    .nav-link {
        display: none;
    }

    .nav-link-kok {
        display: none;
    }

    .header2-img {
        width: 311px;
        height: 288px;
        margin-left: -5px;
    }

    .about-me {
        flex-direction: column;
    }

    .about-title {
        margin-left: -100px;
    }

    .about-text {
        margin-left: -100px;
    }

    .about-btn {
        margin-left: -100px;
    }

    .odam-img {
        width: 311px;
        height: 288px;
        margin-left: -5px;
        margin-top: 20px;
    }


    .contact-title {
        width: 311px;
        height: 126px;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        margin-left: 80px;
    }

    .contact-btn {
        margin-left: 130px;
        margin-top: 30px;
    }

    footer {
        width: 375px;
        height: 354px;
        margin-left: 30px;
    }

    .logo-oq {
        margin-top: -250px;
        margin-left: -50px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        margin-left: -250px;
    }

    .footer-link {
        width: 95px;
        height: 14px;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
    }

    .ilovalar {
        width: 104px;
        height: 24px;
        margin-left: -290px;
        margin-top: 200px;
    }

    /* скрываем чекбокс */
    #menu__toggle {
        opacity: 0;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition: 0.3s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition: 0.3s;
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition: background 0.3s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }

}